body {
    background-color: rgb(255, 233, 230); 
    width: 100%;
    height: 100%;

}

#bigindent{
  text-indent: 8em;
}

object {
  color: rgb(255, 0, 0);
}

section {
  color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

  
hgroup {
  color: rgb(0, 0, 0);
  text-align: left;
  margin: 14px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}

rb {
  color: rgb(0, 0, 0);
  text-align: right;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}
 
 

